.greetingForm {
    margin-bottom: 240px;
}

.inputAndButtonContainer {
    display: flex;
    gap: 20px;
}

.error {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #cc0000;
    margin-top: 7px;

}

.input {
    height: 36px;
    width: 372px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 12px;
    border: 1px solid #D1D1D1;
}

.input:focus {
    outline: none;
}

.errorInput {
    height: 36px;
    width: 372px;
    border: 1px solid #CC0000;
    border-radius: 5px;
    outline: none;
    padding: 8px 12px;
}

.button {
    width: 78px;
    height: 36px;
    background: #0066CC;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    border: transparent;
    border-radius: 3px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: 0.5;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 31px 0 9px 0;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 10px;
}
