.button {
    width: 132px;
    height: 30px;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    border: transparent;
    color: #FFFFFF;
}

.button:hover {
    cursor: pointer;
}



.default {
    background: #0066CC;
}
.red {
    background: #CC1439;
}
.disabled {
    background: #004D99;
    color: #002E5C;
}
.secondary {
    /*width: 176px;*/
    color: #0066CC;
    background: none;
    border: 1px solid #0066CC;
}



.default:hover {
    background: #0080FF;
}
.red:hover {
    background:#FF1A47;
}
.secondary:hover {
    background: #E5F0FA;
}



.default:active {
    background: #0059B3;
}
.red:active {
    background:  #B31232;
}
.secondary:active {
    background: #C9E5FF;
}


.button:disabled {
    opacity: 0.5;
}
